<p id="notice"><%= notice %></p>

<p>
  <strong><%= @client.name %></strong><br>
  <strong><%= @collection.name %></strong>
</p>

<% @products.each do |product| %>
  <p><%= product.name %></p>
  <p>Amount: <%= humanized_money_with_symbol(product.price) %></p>
<% end %>
